{
    "redis": {
        "servers": {
            "redis-00": "127.0.0.1:6379"
        },
        "flush_all_on_start": false
    },
    "sncf_api": {
        "timezone": "Europe/Paris",
        "host": "http://api.transilien.com",
        "username": "xxx",
        "password": "xxx",
        "headers": {
            "content_type": "application/vnd.sncf.transilien.od.depart+xml;vers=1.0",
            "accept": "application/vnd.sncf.transilien.od.depart+xml;vers=1.0"
        }
    },
    "api-train": {
        "host": "http://127.0.0.1:8080",
        "username": "xxx",
        "password": "xxx"
    },
    "watcher": {
        "ban": {
            "no_passage": 3,
            "no_real_time": 1
        },
        "max_call_per_wave": 2,
        "second_between_call": 10,
        "log_level": 5
    },
    "pubsub": {
        "project": "xxx",
        "topic": "xxx",
        "credentials": "xxx"
    }
}
